<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doreen_Atieno - Portfolio</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>
    <header>
        <h1>Doreen Atieno Onyango</h1>
        <p>Software Developer & Hairdresser</p>
        <nav>
            <a href="/">About Me</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/skills">Skills</a>
            <a href="/contacts">Contact</a>
        </nav>
    </header>



    <div class="container">
        <section id="portfolio" class="section">
            <h2>Portfolio</h2>
            <div class="portfolio-item">
                <div>
                    <h4>Agri-Mentor</h4>
                    <p>
                    <h4>The Problem: </h4>Farmers in Kenya face numerous challenges, including unpredictable
                    weather, pest infestations, and volatile market conditions. They often lack access to
                    real-time, reliable advice tailored to their specific needs and local climate conditions. Existing
                    solutions are fragmented, making it difficult for farmers to obtain cohesive and actionable
                    information.</p>
                    <p>
                    <h4>Our Solution:</h4> Agri-Mentor is an AI-driven decision support system that provides Kenyan
                    farmers with personalized, real-time agricultural advice. By utilizing Go APIs and blockchain
                    technology, the platform offers tailored recommendations on crop management, pest control,
                    and market trends, ensuring data security and accessibility.</p>
                </div>
                <img src="your-project-image.jpg" alt="Project Image">
                <div class="portfolio-item">
                    <div>
                        <h4>Agiza</h4>
                        <p>Agiza is a futuristic food delivery platform designed to make ordering meals easy, engaging,
                            and efficient.</p>
                    </div>
                    <img src="your-project-image.jpg" alt="Project Image">
                </div>
                <h3>Hairdressing Styles</h3>
                <div class="portfolio-item">
                    <div>
                        <h4>Trendy-Styles</h4>
                        <p>With a natural talent for hairdressing that I discovered at a young age, I have honed my
                            skills by consistently exploring a variety of hairstyles tailored to each client's unique
                            preferences. From classic looks to modern trends, I take pride in delivering excellent
                            results that not only meet but exceed my clients' expectations. My attention to detail,
                            creativity, and passion for the craft allow me to ensure every client leaves satisfied with
                            a style that truly reflects their vision.</p>

                    </div>
                    <img src="your-hair-style.jpg" alt="Gallery">
                </div>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 Doreen_Atieno_Onyango. All Rights Reserved.</p>
    </footer>
</body>

</html>