body {
    width: 600px;
    margin: 0 auto;
    background-color: #0b132b;
    padding: 0 20px 20px 20px;
    border: 0 solid #6fffe9;
}

header {
    background-color: #1c2541;
    color: #6fffe9;
    padding: 10px;
    text-align: center;
    width: 100%; 
    position: absolute;
    top: 0; 
    left: 0; 
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #3a506b;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: yellow;
    margin: 0 1rem;
}

.container {
        max-width: 900%;
        height: 50vh;
        margin: 180px 0 180px 0px;
        padding: 40px;
        background-color: #5bc0be;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        left: 0;
        overflow-y: auto;
}

h1,
h2 {
    text-align: center;
}

.section {
    margin-bottom: 3rem;
}

.portfolio-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.portfolio-item img {
    width: 45%;
}

footer {
    background-color: #1c2541;
    color: #6fffe9;
    padding: 20px;
    text-align: center;
    width: 100%; 
    position: absolute;
    bottom: 0; 
    left: 0; 
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .portfolio-item {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-item img {
        width: 100%;
    }
}